@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--color-primary: #0d6797;
	--color-primary-light: #1884bd;
	--color-primary-dark: #094d71;
	--color-accent: #ff8fa3;
}

@layer base {
	h1 {
		@apply text-2xl font-bold;
	}
	h2 {
		@apply pt-3 pb-2 text-xl font-semibold;
	}
	h3 {
		@apply text-lg font-semibold;
	}
	h4 {
		@apply font-semibold;
	}
	.link {
		@apply text-primary underline;
	}
}
